<h1>Sessions#login</h1>
<p>Login Below</p>
<%= form_for :sessions, url: sessions_create_path do |f| %>
  Username: <%= f.text_field :name %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>
<% end %>
